html {
  height: 100%;
}

body {
  height: auto;
  min-height: 100%;
  position: relative;
  font-family: "Dubai";
}
  
.app-body {
  position: relative;
  min-height: 100vh;
}

.app-header {
  margin: inherit;
  z-index: 1020;
  height: $app-header-height;
  line-height: $app-header-height;
}