.container-limited {
  max-width: 1280px;
}

.blue-header {
  background-color: $blue-header
}

.gray-subheader {
  background-color: $gray;
}

.text-subheader {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}