//colors
$blue-header: #5790DD !default;
$white: #ffffff !default;
$gray: #E9E9E9;

$app-header-height: 4.5rem !default;

$navbar-height: 5.5rem !default;
$navbar-md-height: 6rem !default;
$navbar-sm-height: 5rem !default;

$footer-height: 3.125rem !default;
